#im{
    width: 1000px;
    
    }
    #demo{
        margin-top: 50px;
    }
    #p{
        margin-left: -70px;
    }
    #n{
        margin-right: 500px;
    }
    #ind{
        margin-left: -200px;
    }