<!-- <div class="row">
    <h5 class="text-white">Trending Movies</h5>
    <div class="rowposter" >
       <ng-container *ngfor="let t of trendingMovieResult">
        <img src="https://image.tmdb.org/t/p/original{{ t.poster_path }}"
        class="rowing largeposter" alt="">
       </ng-container>
      
    </div>

</div> -->
<div class="row mt-5">
    <h5  id="h1"class="text-white mt-5">Trending Movies</h5>
    <div class="rowposter mt-3">
        <ng-container *ngFor="let t of trendingMovieResult">
        <img 
        src="https://image.tmdb.org/t/p/original{{t.poster_path}}" 
        class="rowimg largeposter" 
        alt="..."
        [routerLink]="['/movie',t.id]">
        <!-- <p class="name">{{t.original_title}}</p> -->
        </ng-container>
    </div>
  </div>
 