<!-- <app-imdbapp></app-imdbapp> -->
<h5  id="h1"class="text-white mt-5">POPULAR MOVIES</h5>
<div id="card" class="container" style="margin-top:50px;">
    <div class="row">
        <div  class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <a href=""><img
                        src="../assets/large-movie1.jpg" /></a>
               
                </div>

                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
               
               
                <a  id="rc" href="#" class="card-button"> review</a>
            </div>
        </div>
        <div  class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="../assets/large-movie2.jpg" />
                </div>

                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
             
                <a  id="rc" href="#" class="card-button"> review</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="../assets/large-movie3.jpg" />
                </div>

                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
           
                <a  id="rc" href="#" class="card-button"> review</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="../assets/large-movie4.jpg" />
                    </div>

                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                  
                   
                    <a  id="rc" href="#" class="card-button"> review</a>
       
       
            </div>
            </div>
<div id="card" class="container" style="margin-top:50px;">
    <div class="row">
        <div  class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="../assets/large-movie5.jpg" />
                </div>

                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
             
                <a  id="rc" href="#" class="card-button"> review</a>
            </div>
        </div>
        <div  class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="../assets/large-movie6.jpg" />
                </div>

                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
           
              
                <a  id="rc" href="#" class="card-button"> review</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="../assets/large-movie7.jpg" />
                </div>

                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
             
              
                <a  id="rc" href="#" class="card-button"> review</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="../assets/large-movie8.jpg" />
                    </div>

                    <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                  
                   
                    <a  id="rc" href="#" class="card-button"> review</a>
       
       
            </div>
            </div>
            