<div class="contain-fluid mt-5">
  <a routerLink=""><i class="bi bi-arrow-left-circle"><svg xmlns="http://www.w3.org/2000/svg" width="80" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg></i></a>
    <form  [formGroup]="searchForm" (ngSubmit)="submitForm()"  class="d-flex" role="search">
        <input  id="si"class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="movieName">
        <button class="btn btn-outline-success" type="submit" id="bt1">Search</button>
      </form>
      <!-- <div class="row mt-5">
        <div class="col-lg-4" *ngFor="let s of searchResultMovie">
          <div class="row">
            <div clas="col-lg-3">
              <img src="https://image.tmdb.org/t/p/orginal/{{s.poster.path}}" alt="">
            </div>
            <div class="col-lg-9">
              <h1>{{s.orginal_title}}</h1>
              <P>{{s.overview}}</P>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="container1 mt-5" >
        <div class="row">
          <div class="card movie_card mt-4" *ngFor="let s of searchResultMovie">
            <img src="https://image.tmdb.org/t/p/original{{s.poster_path}}" class="card-img-top" alt="..." 
            [routerLink]="['/movie',s.id]">
            <div class="card-body">
                  <span class="movie_info">⭐{{s.vote_average}}</span>
              <h6 class="card-title mt-3">{{s.original_title}}</h6> 
          </div> -->
 
           <div class="row mt-5">
            <div class="rowposter mt-3">
                <ng-container *ngFor="let s of searchResultMovie">
                <img 
                src="https://image.tmdb.org/t/p/original{{s.poster_path}}" 
                class="rowimg largeposter" 
                alt="..."
                [routerLink]="['/movie',s.id]">
            
                  <span class="movie_info">⭐{{s.vote_average}}</span>
              <h6 class="card-title mt-3">{{s.original_title}}</h6> 
         
                
                </ng-container>
            </div>
          </div>  
        
          <!-- <div id="card" class="container" style="margin-top:50px;">
            <div class="row">
                <div  class="row-md-3">
                    <div class="card-sl">
                        <div class="card-image"*ngFor="let s of searchResultMovie">
                          <img 
                          src="https://image.tmdb.org/t/p/original{{s.poster_path}}" 
                          class="rowimg largeposter" 
                          alt="..."
                          [routerLink]="['/movie',s.id]">
                          <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                       
                       
                          <a  id="rc" href="#" class="card-button"> review</a>
                       
                        </div>
        
                       
                    </div>
                </div>



            </div> -->



            <!--   chat -->
  