<app-nav ></app-nav> 
<div class="welcome-container">
  <img src="../assets/1.jpg" alt="Welcome image" class="welcome-image">
  <h1 id="welcome" class="welcome-quote"><span>Welcome to our</span> movie review <span>website!</span></h1>
  <p>Step into the world of movies with us! We provide honest reviews and opinions on the hottest releases.</p>
</div>


<!-- <button   class="btn btn-danger" id="lgo"(click)="logout()">LOG OUT</button> -->
<!-- <div class="welcome">
  <h1>Welcome to our movie review website!</h1>
  <p>Step into the world of movies with us! We provide honest reviews and opinions on the hottest releases.</p>
</div> -->
<!-- trending movie -->

<!-- <app-trendinmovie></app-trendinmovie> -->
<!-- popularmovie -->
<!-- <app-popularmovies></app-popularmovies> -->